@import './container/index.css';
@import './skills/index.css';
@import './experience/index.css';
@import './loader/index.css';
@import './modal/index.css';

*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}